#head {
  padding: 60px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
}

#man {
	color:SeaShell;
	/* background-Color: MidnightBlue; */
	/* justify-content: center; */
	display: flex;
	margin-top: 80px;
}

#con {
	color:SeaShell;
	/* background-Color: MidnightBlue; */
	/* justify-content: center; */
	display: flex;
	margin-top: 80px;
}

#main {
	background-Color: DarkSlateGrey; 
}

#title {
	text-align: center;
}