#head {
  padding: 60px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
}

.card {
	background-Color: MidnightBlue;
	justify-content: center;
	display: flex;
}

#main {
	background-Color: DarkSlateGrey; 
}

#title {
	text-align: center;
}